<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false">
                Filtri di Ricerca
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <form>
                <div class="row">
                    <div class="col-form-label-lg-3 col-md-3 mb-3">
                        <label for="exampleInputEmail1" class="form-label">Titolo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Descrizione</label>
                        <input type="textarea" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="select" class="form-label">Stato</label>
                        <select class="form-select">
                            <option selected>Seleziona Stato</option>
                            @for (status of ['todo', 'doing', 'done']; track status) {
                            <option value="{{status}}">{{status | taskStatus}}</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-danger">Cancella</button>
                    <button type="submit" class="btn btn-primary">Cerca</button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Stato</th>
            <th scope="col">Azioni</th>
        </tr>
    </thead>
    <tbody>
        @for (task of tasks; track $index) {
        <tr>
            <th scope="row">{{task.title}}</th>
            <td>{{task.description}}</td>
            <td>{{task.status | taskStatus}}</td>
            <td>
                @if(task.status === 'todo' || task.status === 'doing' ){
                <a type="button">
                    <i class="bi bi-pencil"></i>
                </a>
                }
                <i class="bi bi-trash"></i>
            </td>
        </tr>
        }
    </tbody>
</table>
