<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">{{ task.title }}</h5>
    <div class="row">
      <div class="col-1">
        <span class="badge" [class]="
                                      'bg-' +
                                      (task.status === 'todo'
                                        ? 'primary'
                                        : task.status === 'doing'
                                        ? 'warning'
                                        : 'success')
                                    ">
          {{ task.status | titlecase }}
        </span>
        </div>
      @if(task.status === 'todo'){
      <div class="d-flex gap-2 justify-content-end">
        <button type="button" [class]="getActionButtonClass()" (click)="onActionClick1()">
          {{ getActionButtonText() }}
        </button>
      </div>
      }
      </div>
      </div>
  <div class="card-body">
    <p class="card-text">{{ task.description }}</p>
    @if(task.status === 'todo'){
    <div class="d-flex gap-2">
      <button type="button" [class]="getActionButtonClass()" (click)="onActionClick1()">
        Modifica
        </button>
        <button type="button" [class]="deleteActionButtonClass()" (click)="deleteActionButton()">
          Elimina
        </button>
        </div>
    } @if(task.status === 'doing'){
    <div class="d-flex gap-2">
      <button type="button" [class]="getSecondActionButtonClass()" (click)="onActionClick2()">
        {{ getSecondActionButtonText() }}
      </button>
      <button type="button" [class]="getActionButtonClass()" (click)="onActionClick1()">
        {{ getActionButtonText() }}
      </button>
      <button type="button" [class]="deleteActionButtonClass()" (click)="deleteActionButton()">
        Elimina
      </button>
    </div>
    } @if(task.status === 'done'){
    <button type="button" [class]="deleteActionButtonClass()" (click)="deleteActionButton()">
      Elimina
    </button>
    }
  </div>
</div>
