<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">{{ task.title }}</h5>
    <span
      class="badge"
      [class]="
        'bg-' +
        (task.status === 'todo'
          ? 'primary'
          : task.status === 'doing'
          ? 'warning'
          : 'success')
      "
    >
      {{ task.status | titlecase }}
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">{{ task.description }}</p>
    @if(task.status === 'todo'){
      <button
        type="button"
        [class]="getActionButtonClass()"
        (click)="onActionClick1()"
      >
        {{ getActionButtonText() }}
      </button>
    } @if(task.status === 'doing'){
      <div class="d-flex gap-2">
          <button
          type="button"
          [class]="getSecondActionButtonClass()"
          (click)="onActionClick2()"
          >
          {{ getSecondActionButtonText() }}
        </button>
        <button
          type="button"
          [class]="getActionButtonClass()"
          (click)="onActionClick1()"
        >
          {{ getActionButtonText() }}
        </button>
        <button type="button" [class]="" (click)="deleteActionButton()">

        </button>
      </div>
    } @if(task.status === 'done'){
      <span class="badge bg-success">Completato</span>
    }
  </div>
</div>
