<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'todo'" (click)="setActiveTab('todo')">Todo</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'doing'" (click)="setActiveTab('doing')">Doing</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'done'" (click)="setActiveTab('done')">Done</button>
    </li>
</ul>


<div class="tab-content mt-3">
    @switch (activeTab) {
        @case ('todo') {
            <tmg-todo [tasks]="todoTasks"></tmg-todo>
        }
        @case ('doing') {
            <tmg-doing [tasks]="doingTasks"></tmg-doing>
        }
        @case ('done') {
            <tmg-done [tasks]="doneTasks"></tmg-done>
        }
        @default {
            <tmg-todo></tmg-todo>
        }
    }
</div>
